@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "renogare";
  src: url("./../public/font/Renogare-Regular.otf") format("truetype");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .renogare {
    font-family: "renogare";
  }

  .wrapper {
    @apply max-w-6xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .h1-bold {
    @apply font-bold  text-[30px] leading-[48px] lg:text-[48px] lg:leading-[60px]  xl:text-[58px] xl:leading-[74px];
  }

  /* SHADCN OVERRIDES */
  .input-field {
    @apply h-[40px] bg-white focus-visible:ring-offset-0 placeholder:text-gray-500 rounded-xl px-4 py-2 border-none focus-visible:ring-transparent !important;
  }

  .button {
    @apply bg-dark hover:bg-black rounded-xl text-white h-[40px];
  }

  .bg-gradient {
    @apply bg-gradient-to-t from-[#fc0010] to-[#FE9D01];
  }

  .logo {
    filter: drop-shadow(0px 0px 3px #ffffffcd);
  }

  .bg-com {
    background-image: url("/images/nocap.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(5px) grayscale(1) contrast(20); */
  }

  .bg-com2 {
    background-image: url("/images/nocap2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(5px) grayscale(1) contrast(20); */
  }

  .bg-com3 {
    background-image: url("/images/nocap2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1);
  }

  .swiper-slide {
    text-align: center;
    /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0); */
    filter: blur(5px) grayscale(1) contrast(10);
    opacity: 0.2;
    border-radius: 5px;
    object-fit: cover;
  }

  .swiper-slide-active {
    filter: blur(0);
    opacity: 1;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.479); */
  }

  @media (min-width: 360px) and (max-width: 600px) {
    .swiper-slide {
      max-width: 95vw;
      margin: 0 auto;
    }
  }

  .boxShadow {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.722);
  }

  .bg-linear-text {
    background: linear-gradient(180deg, #fc0010 30.35%, #fe9d01 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Animation pour l'affichage en grand */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.8);
    }
  }

  .fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }

  .fade-out {
    animation: fadeOut 0.3s ease-in-out forwards;
  }

  .shadowXL {
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.6);
  }
}
